
# This is an example Starter pipeline configuration
# Use a skeleton to build, test and deploy using manual and parallel steps
# -----
# You can specify a custom docker image from Docker Hub as your build environment.

image: ubuntu:18.04

pipelines:
  default:
    - step:
        script:
          - apt-get update -y && apt-get install openssh-client -y
          - apt install git -y
          - eval $(ssh-agent -s)
          - (umask  077 ; echo $GIT_SSH_PRIVATE_KEY | base64 --decode > ~/.ssh/id_rsa)
          - mkdir -p ~/.ssh
          - chmod 700 ~/.ssh
          - ssh-keyscan bitbucket.org >> ~/.ssh/known_hosts
          - chmod 644 ~/.ssh/known_hosts
          - git config --global user.name "${GIT_USER_NAME}"
          - git config --global user.email "${GIT_USER_EMAIL}"
          - ssh "git@bitbucket.org"
          - echo https://github.com/d9y0/poykott-hub-app.git
          - git clone --mirror https://github.com/d9y0/poykott-hub-app.git poykott-hub-app
          - cd poykott-hub-app
          - git remote remove origin
          - git remote add origin git@bitbucket.org:poykott-hub/poykott-hub-app.git
          - git push --prune --all --force
          - git push --prune --tags --force


