name: Android Release





on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
  workflow_dispatch:

jobs:

  build:
    name: Create Android Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update version in YAML
        run: sed -i 's/0.0.0-alpha+0/0.0.1-alpha+1/g' pubspec.yaml
      - name: Download Android keystore
        id: android_keystore
        uses: timheuer/base64-to-file@v1.0.3
        with:
          fileName: upload-keystore.jks
          encodedString: ${{ secrets.KEYSTORE_BASE64 }}
      - name: Create key.properties
        run: |
          echo "storeFile=${{ steps.android_keystore.outputs.filePath }}" > android/key.properties
          echo "storePassword=${{ secrets.STORE_PASSWORD }}" >> android/key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: "12.x"
          cache: gradle
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.13.6"
          channel: 'stable'
          cache: true
      
      - name: Get dependencies
        run: flutter pub get

      - name: run build_runner
        run: dart run build_runner build --delete-conflicting-outputs
      
      - name: Start Android Release Build aab
        run: flutter build appbundle

      - name: Start Android Release Build apk
        run: flutter build apk --release --obfuscate --split-debug-info=./split-debug-info/

      - name: Upload Android Release aab
        uses: actions/upload-artifact@v2
        with:
          name: android-release
          path: build/app/outputs/bundle/release/app-release.aab

      - name: Upload Android Release apk
        uses: actions/upload-artifact@v2
        with:
          name: android-release
          path: build/app/outputs/flutter-apk/**/*.apk
  
  deploy:
    name: Deploy Android Build
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get Android Build from artifacts
        uses: actions/download-artifact@v2
        with:
          name: android-release
          path: artifacts
      - name: ls
        run: ls
        

      - uses: robinraju/release-downloader@v1.8
        with:
          out-file-path: "./artifacts"
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          tag: "v0.0.1-alpha"

  









